.text-input {
  border: 1px solid;
  border-color: #d0d0d0;
  border-radius: 10px;
  height: 54px;
  left: -2020px;
  overflow: hidden;
  position: relative;
  top: 2023px;
  width: 320px;
}

.text-input .input-text {
  background-color: transparent;
  border: 0;
  color: #2d2d2d;
  font-family: var(--body-text-18px-regular-font-family);
  font-size: var(--body-text-18px-regular-font-size);
  font-style: var(--body-text-18px-regular-font-style);
  font-weight: var(--body-text-18px-regular-font-weight);
  height: 32px;
  left: 20px;
  letter-spacing: var(--body-text-18px-regular-letter-spacing);
  line-height: var(--body-text-18px-regular-line-height);
  padding: 0;
  position: relative;
  top: 10px;
  white-space: nowrap;
  width: 148px;
}
